# Jupyter
jupyter
ipykernel

# Core ML libraries
torch
numpy
scikit-learn

# Hugging Face libraries
datasets
transformers
accelerate

# Plotting
matplotlib
seaborn

# Promptsource from GitHub
git+https://github.com/bigscience-workshop/promptsource.git

# Install repeng
git+https://github.com/mishajw/repeng.git